body {
  box-sizing: border-box;
  margin: 0;
  font-family: "Robot", sans-serif;
}

.navbar {
  background-color: #f9f9fb;
  display: flex;
  color: #000;
  font-family: "Square Peg", cursive;
  font-size: 1rem;
  gap: 5px;
  justify-content: center;
  align-items: center;
  height: 45px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.article {
  display: flex;
  gap: 10px;
}

.article--description {
  display: flex;
  flex-direction: column;
}

.article--img {
  height: 168px;
  width: 125px;
  border-radius: 5px;
}

.article--map {
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: 10.24px;
  gap: 5px;
  padding: 10px 0 5px 0;
}

.article--map p {
  margin: 0;
  letter-spacing: 1px;
}

.article--map a {
  color: #918e9b;
}

.article--title {
  margin: 0;
}
